.form-group{
  margin-right: 325px;
}

button {
color: green;
}

nav {
  margin: 75px;
}

nav h1{
  margin-right: 250px;
  display: inline;
}

#messages {
  border: 1px solid black;
}

.checkboxes {
  text-align: center;
}