nav {
  margin: 75px;
}

nav h1{
  margin-right: 250px;
  display: inline;
}

#messages {
  border: 1px solid black;
  margin-top: 30px;
  padding: 10px;
}

.form-group{
  margin-right: 50px;
}

div.checkboxes {
  padding-top: 20px;
  position: relative;
  margin-left: 70px;
}

.timestamp{
  color:grey;
  font-size: 10px;
}

div.myRadioBtn {
  display: inline;
  margin: 10px;
}

div#users{
margin-left: 70px;
}


