.form-group{
  margin-right: 325px;
}

nav {
  margin: 75px;
}

nav h1{
  margin-right: 250px;
  display: inline;
}

#messages {
  border: 1px solid black;
  margin-top: 30px;
}

.form-group{
  margin-right: 50px;
}

div.checkboxes {
  text-align: center;
  padding-top: 20px;
  position: relative;
}